
.container {
  position: fixed;
}
.text {
  position:relative;
  font-family: roboto, sans-serif;
  font-style: italic;
  font-weight:100;
  color: rgb(0, 0, 0);
  font-size: calc(50px + 1.2vh);
  line-height: auto;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.radial-gradient {
    opacity: 1;
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    
    /*Fallback if gradients don't work */
    background: #ffffff;
    /*Linear gradient... */
    background: 
      radial-gradient(
      );
  }

.DOG {
  position: absolute;
  height: 100vh;
  right: 0%;
  top: 0;
  bottom: 0;
}
  
  .link {
    text-decoration: none;
}

.link:hover {
    color:#ffffff
}